*.*~
*.*.swp
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.idea/
build/
test/priority_queue_test
test/multimap_test
test/unordered_map_test
test/map_test
test/multimap_test
test/queue_test
test/priority_queue_test
libbasket.so*
basket.pc
DartConfiguration.tcl
cmake-build-debug/DartConfiguration.tcl
cmake-build-debug/basket.cbp
cmake-build-debug/basket.pc
cmake-build-debug/libbasket.so
cmake-build-debug/libbasket.so.1
cmake-build-debug/libbasket.so.1.0.0
# Project exclude paths
/cmake-build-debug/
